tests/mocks/nifi/01_hdfs_to_hive_flow.json
{
  "encodingVersion": {
    "majorVersion": 2,
    "minorVersion": 0
  },
  "maxTimerDrivenThreadCount": 10,
  "registries": [],
  "parameterContexts": [
    {
      "identifier": "etl-params",
      "name": "ETL Parameters",
      "description": "Parameters for ETL flow",
      "parameters": [
        {
          "name": "input.hdfs.path",
          "value": "/data/raw/events",
          "sensitive": false
        },
        {
          "name": "output.hive.table",
          "value": "analytics.processed_events",
          "sensitive": false
        },
        {
          "name": "run.date",
          "value": "${now():format('yyyy-MM-dd')}",
          "sensitive": false
        }
      ]
    }
  ],
  "processors": [
    {
      "identifier": "get-hdfs-files",
      "name": "GetHDFS",
      "type": "org.apache.nifi.processors.hadoop.GetHDFS",
      "config": {
        "properties": {
          "HDFS Directory": "#{input.hdfs.path}/#{run.date}",
          "Recurse Subdirectories": "true",
          "Keep Source File": "true",
          "File Filter Regex": ".*\\.parquet$"
        }
      }
    },
    {
      "identifier": "convert-record",
      "name": "ConvertRecord",
      "type": "org.apache.nifi.processors.standard.ConvertRecord",
      "config": {
        "properties": {
          "Record Reader": "parquet-reader",
          "Record Writer": "json-writer"
        }
      }
    },
    {
      "identifier": "put-hive",
      "name": "PutHiveQL",
      "type": "org.apache.nifi.processors.hive.PutHiveQL",
      "config": {
        "properties": {
          "Hive Database Connection Pooling Service": "hive-connection-pool",
          "SQL Statement": "INSERT INTO #{output.hive.table} SELECT * FROM staging_table"
        }
      }
    },
    {
      "identifier": "put-hdfs-processed",
      "name": "PutHDFS",
      "type": "org.apache.nifi.processors.hadoop.PutHDFS",
      "config": {
        "properties": {
          "Hadoop Configuration Resources": "/etc/hadoop/conf/core-site.xml,/etc/hadoop/conf/hdfs-site.xml",
          "Directory": "/data/processed/events/#{run.date}",
          "Conflict Resolution Strategy": "replace"
        }
      }
    }
  ],
  "connections": [
    {
      "identifier": "get-to-convert",
      "source": {
        "id": "get-hdfs-files",
        "type": "PROCESSOR"
      },
      "destination": {
        "id": "convert-record",
        "type": "PROCESSOR"
      },
      "selectedRelationships": ["success"]
    },
    {
      "identifier": "convert-to-hive",
      "source": {
        "id": "convert-record",
        "type": "PROCESSOR"
      },
      "destination": {
        "id": "put-hive",
        "type": "PROCESSOR"
      },
      "selectedRelationships": ["success"]
    },
    {
      "identifier": "convert-to-hdfs",
      "source": {
        "id": "convert-record",
        "type": "PROCESSOR"
      },
      "destination": {
        "id": "put-hdfs-processed",
        "type": "PROCESSOR"
      },
      "selectedRelationships": ["success"]
    }
  ],
  "controllerServices": [
    {
      "identifier": "hive-connection-pool",
      "name": "HiveConnectionPool",
      "type": "org.apache.nifi.dbcp.hive.HiveConnectionPool",
      "properties": {
        "Database Connection URL": "jdbc:hive2://hiveserver:10000/default",
        "Database User": "nifi",
        "Database Driver Class Name": "org.apache.hive.jdbc.HiveDriver"
      }
    }
  ]
}

